In [ ]:
import duckdb
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df["species"] = [iris.target_names[i] for i in iris.target]

# 1. SQL na DataFrame
duckdb.query("SELECT species, AVG(\"sepal length (cm)\") AS avg_sepal FROM df GROUP BY species").df()

      species  avg_sepal
0   virginica      6.588
1  versicolor      5.936
2      setosa      5.006

In [ ]:
import duckdb

#Zapytanie wielolinijkowe
query = """
SELECT species,
       AVG("sepal length (cm)") AS avg_sepal,
       COUNT(*) AS count
FROM df
WHERE "petal length (cm)" > 2
GROUP BY species
ORDER BY avg_sepal DESC;
"""

duckdb.query(query).df()

      species  avg_sepal  count
0   virginica      6.588     50
1  versicolor      5.936     50